#site-header > div > div.band > div > div > div.primary > h2 > em{
    color: #b31b1b;
} 
#site-header > div > div.container-fluid > div{
    margin-bottom: 20px;
}

.flex{
    display: flex;

}

#site-header > div > div.band > div > div > div.primary{
    background: #cce0e6;
    text-align: center;
    padding: 30px;
    /*padding-left: 50px;*/
    background-size: contain;                  
    /*background-image: url('./images/cti/canvas transparentlogo3.png');*/
    background-repeat:   no-repeat;
    background-position: -200px;              
}

a.link-button{
    font-size: 24px;
    padding: 0.5em 1em;
    min-width: 191px;
} 
a.link-button:active, a.link-button:hover, a.link-button:focus{
    background: #315163;
    color:#fff;
}	

.quote p {
    text-indent: 0em;
}

@media (min-width: 768px){
    #site-header > div > div.band > div > div > div.primary{
        /*width: 50%;*/
    }
    #site-header > div > div.band > div > div > div.secondary{
        /*width: 50%;*/
    }       
} 

#notification > div > p > i  {
    padding-right: 5px;
    font-size: 1.2em;
}
